{% extends "_helpers/_base.html" %}


{% block content %}
<h1>{{ room_name }}</h1>
<form action="{{ room_name.get_absolute_url }}" method="post">
{% csrf_token %}
{% comment %}
    {{ form.as_p }}
    {{ form.non_field_errors }}
   {% endcomment %}

    <div class="form-group">
        <label for="{{ form.host.id_for_label }}"> Host</label>
        <div class="invalid-feedback">
            {{ form.host.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.room_name.id_for_label }}"> Room name</label>
        <div class="invalid-feedback">
            {{ form.room_name.errors }}
        </div>
    </div>


<input type="submit" value="Submit">
</form>
{% endblock %}
