{% extends "_helpers/_base.html" %}


{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-10">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Start new game</h5>
                      <a class="nav-link btn btn-primary" href="{% url "words:start" %}">Start</a>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Load</h5>
                      <a class="nav-link btn btn-primary" href="{% url "words:load" %}">Load</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}