{% extends "_helpers/_base.html" %}
{% block title %} Load game :: {{ block.super }}{% endblock %}

{% block content %}
    {% comment %}
<form method="post" action="{% url "words:load" %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endcomment %}

    <form method="post" action="{% url "words:start" %}">

{% csrf_token %}

{{ form.non_field_errors }}
    <div class="form-group">
        <label for="{{ form.host.id_for_label }}"> Host</label>
        {{ form.host }}
        <div class="invalid-feedback">
            {{ form.host.errors }}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.room_name.id_for_label }}"> Room name</label>
        {{ form.room_name }}
        <div class="invalid-feedback">
            {{ form.room_name.errors }}
        </div>
    </div>


<button type="submit" class="btn btn-primary btn-block">Let's go</button>
    </form>
{% endblock %}